/* 768px */
@media (max-width: 768px) {
    /* HEADER */
    .Header {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 0vh;
    }

    .Header-container {
        font-size: 2.5vw;
        padding: 0 4vw;
    }

    .Header1 {
       width: 50vw;
    }
    
    .Header2 {
        width: 40vw;
    }

    .Header-logo {
        display: none;
    }

    .Header-logo-mobile {
        display: block;
        width: 20vw;
        margin: 2vh 0 2vh 0;
    }


    /* INICIO */

    .Inicio-container {
        padding: 20vh 0 0 10vw;
        height: 60vh;
        overflow: hidden;
        position: relative;
    }

    .Inicio-content {
        gap: 4vh;
    }

    .Inicio-titulo {
        font-size: 4vw;
    }

    .Inicio-desc {
        font-size: 3vw;
        max-width: 44vw;
        padding-left: 2vw;
    }

    .Inicio-contatenos {
        border-radius: 2px;
        text-decoration: none;
        color: #ffff;
        width: 18vw;
        height:  7vw;
        font-size: 2vw;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Inicio-image {
        right: -16vw;
        top: 24vh;
    }

    .Inicio-image img {
        width: 58vw;
    }

    /* QUEM SOMOS */

    .QuemSomos-container {
        padding: 2vh 0 12vh 0;
        margin-top: -26vh;
        border-radius: 20px 20px 0px 0px;
        
        position: relative;
    }

    .QuemSomos-cards {
        display: flex;
        gap: 4vw;
        padding-left: 8vw;
    }
    
    .card {
        border-radius: 8px;
        background-color: #6F5440;
        width: 13.4vw;
        height: 12.375vw;
    }
    
    .card-title {
        font-size: 3.5vw;
    }

    .card-content {
        width: 80%;
        font-size: 2vw;
    }

    .QuemSomos-content {
        margin-top: 4vh;
    }

    .QuemSomos {
        width: 48vw;
    }

    .OqueFazemos {
        width: 48vw;
    }

    .QuemSomos-title {
        font-size: 3vw;
    }

    .QuemSomos-info {
        font-size: 2.5vw;
        padding-top: 1vh;
    }

    /* SOBRE A TREINADORA */
    .Sobre-Treinadora-container {
        border-radius: 20px 20px 0px 0px;
        height: 50vh;
        padding: 0 2vw;
    }

    .kellen-lateral {
        position: absolute;
        width: auto;
        height: 90%;
        bottom: 0;
        left: 0;
    }
    
    .treinadora-title {
        font-size: 8vw;
        padding-left: 10vw;
    }

    .treinadora-content {
        font-size: 3vw;
        font-weight: 400;
        max-width: 70vw;
        align-self: center;
        display: flex;
        justify-content: center;
        padding: 2vh 0 0 18vw;
    }
    
    .treinadora-card {
        margin: 4vh 0 0 0;
        border-radius: 16px;
        width: 90%;
        z-index: 99999;
        padding: 8px;
        justify-content: space-between;
    }
    
    .treinadora-card-sections {
        font-size: 2.5vw;
        max-width: 33%;
    }

    .treinadora-card-sections img {
        width: 6vw;  
    }

    /* DIFERENCIAIS */

    .Diferenciais-container {
        border-radius: 20px 20px 0px 0px;
        height: auto;
    }

    .treinadora-cards {
        gap: 1vh;
    }
    
    .treinadora-cards-elipse {
        width: 12.4vw;
        height: 12.4vw;
    }
    
    .card-image {
        width: 6vw;
    }
    
    .treinadora-cards-content {
        width: 20vw;
        font-size: 1.8vw;
    }

    .Treinamentos-container {
        border-radius: 20px 20px 0px 0px;
        margin-top: -6vh;
        padding: 12vh 8vw;
        gap: 8vw;
        justify-content: space-between;
        flex-direction: column;
    }

    
    .Treinamentos-content {
        flex-direction: column;
        align-items: center;
        gap: 3vh;
        width: 80vw;
    }

    .Treinamentos-title {
        font-size: 6vw;
        width: 80vw;
    }

    .Treinamentos-text {
        font-size: 3vw;
        max-width: 80vw;
    }

    .Treinamentos-button {
        font-size: 2.5vw;
        border-radius: 16px;
        padding: 2vh 4vw;
        max-width: 42vw;
        justify-self: start;
    }
    
    .treinamentos-button-arrow {
        width: 4vw;
        margin-top: 0.1vh;
    }

    .Treinamentos-cards {
        justify-content: center;
        gap: 2vh;
        width: 90vw;
    }

    .Treinamentos-card {
        height: 12vh;
        width: 26vw;
        font-size: 3vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        text-align: center;
        font-weight: 700;
    }

    /* O QUE DIZEM */

    .OQue-Dizem-container {
        border-radius: 20px 20px 0px 0px;
        padding: 6vh 4vw;
    }

    .OQue-Dizem-title {
        font-size: 5vw;
    }

    .feedbacks-container {
        border-radius: 8px;
        padding: 3vh 2vw;
        height: auto;
    }
    
    .OQueDizem-content {
        font-size: 3vw;
        padding: 2vh 0 2vh 0;
    }

    .feedbacks-aspas {
        width: 5vw;
    }

    .OQueDizem-pessoa {
        padding: 0 4px;
    }

    .Nome {
        font-size: 3vw;
    }

    .Funcao {
        font-size: 2.8vw;
    }

    /* Empresas-carousel */
    .empresas-carousel {
        border-radius: 20px;
        height: 10vh;
    }

    .prev-image {
        width: 4.5vw;
    }  
    
    .next-image {
        width: 2vw;
    }


    /* FOOTER */

    .Footer {
        border-radius: 20px 20px 0px 0px;
        margin-top: -3vh;
    }

    .faleconosco-title {
        font-size: 6vw;
    }

    .faleconosco-button {
        border-radius: 12px;
        height: 8vw;
        width: 24vw;
        font-size: 2.8vw;
    }
    
    .footer-content {
        padding: 4vh 2vw;
    }

    .footer-img {
        width: 14vw;
    }

    .footer-section-text {
        font-size: 3vw;
        color: #C09F80;
        max-width: 50vw;
    }

    .footer-social-medias  {
        margin-top: 2vh;
    }
    
    .footer-social-media-img  {
        width: 6vw;
    }

    .footer-section-title {
        font-size: 2.4vw;
    }
    
    .footer-section-link {
        font-size: 2.4vw;
    }
}
