html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    color: #ffff;
}

a {
    text-decoration: none;
}

.background-image {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* HEADER */
.Header {
    position: fixed;
    z-index: 22222;
    margin-top: 1.875vw;
}

.Header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.25vw;
}

.Header1 {
    display: flex;
    justify-content: space-around;
    width: 44vw;
}

.Header2 {
    display: flex;
    justify-content: space-around;
    width: 38vw;
}

.Header-logo-mobile {
    display: none;
}

.Header-logo {
    width: 12vw;
}

.Header-link {
    color: #ffff;
}

.active {
    border-bottom: 2px solid #C09F80;
}
 
/* INICIO */

.Inicio-container {
    padding: 28vh 0 0 10vw;
    display: flex;
    justify-content: start;
    background-color: #121214;
    height: 80vh;
}

.Inicio-content {
    display: flex;
    flex-direction: column;
    gap: 8vh;
}

.Inicio-titulo {
    color: #E4D4B3;
    font-size: 2vw;
    max-width: 42vw;
}

.Inicio-desc {
    border-left: 2px solid #C09F80;
    font-size: 1.5625vw;
    font-weight: 300;
    max-width: 34vw;
    padding-left: 1vw;
}

.Inicio-contatenos {
    background-color: #C09F80;
    opacity: 0.8;
    border-radius: 5px;
    text-decoration: none;
    color: #ffff;
    width: 9.58vw;
    height:  3.5vw;
    font-size: 1.15vw;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Inicio-image {
    position: absolute;
    right: 10vw;
    z-index: 1;
}

.Inicio-image img {
    width: 33.5vw;
}

/* QUEM SOMOS */

.QuemSomos-container {
    padding: 6vh 0 12vh 0;
    margin-top: -16vh;
    background-color: #C09F80;
    background-image: url('./images/quemsomosbg.png');
    border-radius: 40px 40px 0px 0px;
}

.QuemSomos-cards {
    display: flex;
    gap: 4vw;
    padding-left: 8vw;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    background-color: #6F5440;
    width: 10.4vw;
    height: 9.375vw;
}

.card-title {
    font-weight: 800;
    font-size: 2.5vw;
}

.card-content {
    font-weight: 400;
    text-align: center;
    width: 80%;
    font-size: 1.25vw;
}

.QuemSomos-content {
    display: flex;
    justify-content: center;
    margin-top: 16vh;
    gap: 2vw;
    font-weight: 600;
}

.QuemSomos {
    width: 38vw;
    text-align: right;
}

.QuemSomos-title {
    color: #6F5440;
    font-size: 1.875vw;
}

.QuemSomos-info {
    font-size: 1.35vw;
    padding-top: 2vh;
}

.OqueFazemos {
    width: 38vw;
}

/* SOBRE A TREINADORA */

.Sobre-Treinadora-container {
    border-radius: 40px 40px 0px 0px;
    background-color: #6f5440;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 4vw;
    margin-top: -6vh;
    background-image: url('./images/sobrevendedorabg.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.kellen-lateral {
    position: absolute;
    width: 15vw;
    height: 90%;
    bottom: 0;
    left: 0;
}

.treinadora-title {
    font-size: 4vw;
    font-weight: 700;
    color: #E4D4B3;
    font-family: "PT Serif", serif;
}

.treinadora-content {
    font-size: 1.875vw;
    font-weight: 400;
    max-width: 70vw;
    align-self: center;
    padding: 5vh 0;
}

.treinadora-card {
    background-color: #E4D4B3;
    align-self: center;
    display: flex;
    gap: 4vw;
    border-radius: 40px;
    padding: 16px;
}

.treinadora-card-sections {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #6F5440;
    font-weight: 400;
    font-size: 1.25vw;
    max-width: 16vw;
}

.treinadora-card-sections img {
    width: 2.5vw;  
}

/* DIFERENCIAIS */

.Diferenciais-container {
    position: relative;
    border-radius: 40px 40px 0px 0px;
    margin-top: -6vh;
    padding: 8vh 4vw;
    height: 40vh;
    background-color: #C09F80;
    z-index: -2;
    display: flex;
    justify-content: center;
    gap: 4vw;
}

.treinadora-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.treinadora-cards-elipse {
    background-color: #725742;
    border-radius: 50%;
    width: 10.4vw;
    height: 10.4vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-image {
    width: 5vw;
}

.treinadora-cards-content {
    width: 18vw;
    text-align: center;
    font-size: 1.45vw;
    font-weight: 400;
}

.Diferenciais-background {
    background-image: url('./images/diferenciaisbg.png');
    opacity: 50%;
    border-radius: 40px 40px 0px 0px;
    z-index: -1;
}

/* TREINAMENTO */

.Treinamentos-container {
    position: relative;
    border-radius: 40px 40px 0px 0px;
    margin-top: -6vh;
    padding: 12vh 4vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #C09F80;
    background-image: url('./images/treinamentobg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.Treinamentos-content {
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

.Treinamentos-title {
    color: #725742;
    font-weight: 700;
    font-size: 3vw;
}

.Treinamentos-text {
    font-size: 1.5625vw;
    font-weight: 400;
    max-width: 35.5vw;
}

.Treinamentos-button {
    color: #ffff;
    font-weight: 700;
    font-size: 1.5625vw;
    background-color: #6F5440;
    border-radius: 40px;
    padding: 2vh 0;
    max-width: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Treinamentos-button span{
    max-height: 5vh;
}

.treinamentos-button-arrow {
    width: 2.5vw;
}

.Treinamentos-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 8vh;
    width: 40vw;
}

.Treinamentos-card {
    background-color: #C09F80;
    color: #6F5440;
    height: 26vh;
    width: 17.2vw;
    font-size: 1.875vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    text-align: center;
    font-weight: 700;
}
/* O QUE DIZEM */

.OQue-Dizem-container {
    position: relative;
    border-radius: 40px 40px 0px 0px;
    padding: 6vh 4vw;
    gap: 4vw;
    background-color: #C09F80;
    background-image: url('./images/oquedizembg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -6vh;
}

.OQue-Dizem-title {
    font-size: 4vw;
    font-family: "PT Serif", serif;
    color: #E4D4B3;
}

.texto-marrom {
    color: #6F5440;
}

.feedbacks-container {
    border: 1px solid #F6F4F1;
    border-radius: 20px;
    background-color: #F6F4F133;
    padding: 6vh 2vw;
    margin: 0 2vw;
    height: 48vh;
}

.feedbacks-aspas {
    width: 3vw;
}

.OQueDizem-content {
    color: #6F5440;
    font-size: 1.5625vw;
    padding: 4vh 0 2vh 0;
}

.OQueDizem-pessoa {
    padding: 0 12px;
}

.Nome {
    font-weight: 700;
    font-size: 1.875vw;
}

.Funcao {
    font-weight: 600;
    font-size: 1.5625vw;
    color: #6F5440;
}

/* feedbacks-carousel */
.feedbacks-carousel {
    display: flex;
    align-items: center;
    justify-content: center;   
    margin: 4vh 14vw;
    position: relative;
}

.feedbacks-carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
  
.feedbacks-carousel-item {
    width: 100%;
    height: 100%;
    display: none; /* Ocultar os itens do carrossel */
}
  
.feedbacks-carousel-item.feedbacks-carousel-active {
    display: block; /* Mostrar o item do carrossel atual */
}
  
#feedbacks-carousel-prev, #feedbacks-carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
}
  
#feedbacks-carousel-prev {
    left: -8vw;
}
  
#feedbacks-carousel-next {
    right: -8vw;
}

/* Empresas-carousel */
.empresas-carousel {
    display: flex;
    align-items: center;
    justify-content: center;   
    position: relative;
    background-color: #6F5440;
    border-radius: 40px;
    height: 20vh;
}

.empresas-carousel-inner {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}
  
.empresas-carousel-item {
    display: none; /* Ocultar os itens do carrossel */
    width: 85%;
}

.empresas-carousel-item-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.empresas-carousel-item-div img{
    max-width: 16vw;
    max-height: 14vh;
}

  
.empresas-carousel-item.empresas-carousel-active {
    display: block; /* Mostrar o item do carrossel atual */
}
  
#empresas-carousel-prev, #empresas-carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    border: none;
}
  
#empresas-carousel-prev {
    left: 2vw;
}
  
#empresas-carousel-next {
    right: 2vw;
}

/* FOOTER */

.Footer {
    position: relative;
    background-color: #E4D4B3;
    border-radius: 40px 40px 0px 0px;
    margin-top: -4vh;
}

.Footer-faleconosco {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 4vh 2vw;
}

.faleconosco-title {
    color: #6F5440;
    font-family: "PT Serif", serif;
    font-size: 4vw;
}

.faleconosco-button {
    background-color: #6F5440;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.27vw;
    width: 15.625vw;
    color: #ffff;
    font-size: 1.5625vw;
    font-weight: 700;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ffff;
    padding: 4vh 2vw;
}

.footer-section {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.footer-img {
    width: 9.375vw;
}

.footer-section-text {
    font-weight: 400;
    font-size: 1.45vw;
    color: #C09F80;
    max-width: 42vw;
}

.footer-social-medias  {
    margin-top: 8vh;
    display: flex;
    gap: 1vw;
}

.footer-social-media-img {
    width: 2vw;;
}

.footer-section-title {
    color: #6F5440;
    font-size: 1.45vw;
}

.footer-section-link {
    color: #C09F80;
    font-size: 1.45vw;
}